@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap');
body{
    /* background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
     */
     background: rgb(10,10,10);
background: linear-gradient(252deg, rgba(10,10,10,1) 0%, rgba(26,26,26,1) 100%);
    color: #fff;
    height: 100vh;
}

.header {/*header start*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-family: 'Sora', sans-serif;
}

.logo h1 {
    white-space: nowrap;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border-radius: 4px;
}
.title-logo {
    background: linear-gradient(192.21deg, #899BFF 0%, #5C6FD9 100%);
    background-clip: text; 
    color: transparent;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border-radius: 4px;
    margin-right: -5px;
}
.button-ebook {
    background: transparent;
    color: #fff;
    border: 2px solid #899BFF;
    padding: 15px 25px 15px 25px;
    border-radius: 6px;
    transition: .6s;
}
.button-ebook:hover {
    background-color: #899BFF;
}/*header end*/


.container {/* main */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 600px;
}

.welcome {
    margin-bottom: 50px;
}
.welcome h1 {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}
.welcome a {
    font-family: 'Inter', sans-serif;
    color: #899BFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

}
.newsletter-form p:first-child{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #AEAEAE;
    margin-bottom: 48px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 600px;   
}

.form label {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 14px;
    padding: 10px;
    margin-left: -7px;
}

.btn-submit {
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    background-color: #899BFF;
    color: #fff;
    outline: none;
    border: none;
}
.btn-submit:active {
    color: #000;
    border: 1px solid;
}

.field {
    box-sizing: border-box;
    background-color: #0C0C0C;
    border: 1px solid #212529;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    white-space: nowrap;
}

form .error-message {
    color: #f44336;
    font-size: 12px;
}
/* Estilos padrão */

/* ... Seu código existente ... */

/* Adiciona regras de mídia para telas menores */

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 100px auto;

    }

    .header {
        padding: 20px 5%;
    }

    .logo h1 {
        font-size: 20px;
    }

    .title-logo {
        font-size: 30px;
    }

    .button-ebook {
        padding: 10px 15px;
    }

    .welcome h1 {
        font-size: 24px;
        line-height: 40px;
    }

    .welcome a {
        font-size: 18px;
        line-height: 30px;
    }

    .newsletter-form p:first-child {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .form label {
        font-size: 12px;
        padding: 5px;
        margin-left: 0;
    }

    .btn-submit {
        padding: 8px;
        margin-top: 8px;
        font-weight: 700;
    }

    .field {
        padding: 8px;
        margin-bottom: 8px;
    }

    form .error-message {
        font-size: 10px;
    }
}
